:root {
  --card-yellow: #F0DB1D;
  --card-blue: #0075FF;
  --card-green: #0EAC00;
  --card-white: #F3F3F3;
  --card-red: #7B0000;

  --basic-white: white;
  --menu-bg: #43201b;

  --card-scale: 0.6;
}

@font-face {
  font-family: "Rammetto One";
  src: url("/fonts/Rammetto_One/RammettoOne-Regular.ttf");
}

body {
  background-image: url("/images/table.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  min-width: 1150px;
  min-height: 800px;
}

body > div {
  width: 100%;
  height: 100%;
  margin: 0;
}

.card {
  width: calc(200px  * var(--card-scale));
  height: calc(300px * var(--card-scale));
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  gap: 2px;
  padding: 2px 15px 15px 15px;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--cards-white, #FFF);
  font-family: "Rammetto One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  user-select: none;
}

.card__yellow {
  color: var(--card-yellow);
}
.card__blue {
  color: var(--card-blue);
}
.card__green {
  color: var(--card-green);
}
.card__white {
  color: var(--card-white);
}
.card__red {
  color: var(--card-red);
}

.card--values {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card--image {
  border: var(--basic-white) 1px solid;
  border-radius: 10px;
  height: 80%;
  flex-grow: 1;
  flex-shrink: 0;
}

.card__yellow > .card--image {
  background-color: var(--card-yellow);
}
.card__blue > .card--image {
  background-color: var(--card-blue);
}
.card__green > .card--image {
  background-color: var(--card-green);
}
.card__white > .card--image {
  background-color: var(--card-white);
}
.card__red > .card--image {
  background-color: var(--card-red);
}


.card__dragging {
  opacity: 0;
  cursor: grabbing;
  /* display: none; */
}


/* Card Piles */

.hand {
  display: flex;
  justify-content: center;
  gap: 0px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.hand > .card {
  margin: 0px -50px;
  transform: scale(1);
}
.hand > .card:hover {
  /* z-index: 1; */
  transform: scale(1.1) translateY(-1.5em);
}

.card-piles {
  display: flex;
  justify-content: center;
  gap: 0.75em;
  background-color: var(--menu-bg);
  padding: 1em 1.5em;
}

.card-piles > div > .card {
  cursor: default;
  height: 100%;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.card__draggable {
  cursor: grab;
}

.card-piles > div > .card__canBeDrawn {
  cursor: pointer;
}

.card-piles > div > .card > .card--image {
  flex-shrink: 1;
  margin-bottom: 15px;
}

.card-piles--discards {
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.card-piles--expeditions {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  display: grid;
  grid-template-rows: 1fr 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  vertical-align: middle;
  line-height: 1em;
}

.card-piles--expeditions > .card-piles--pile {
  width: calc(200px  * var(--card-scale) + 2px);
  height: calc(300px * var(--card-scale) + 2px);
  border: 1px solid var(--basic-white);
  border-radius: 3px;

  order: -1;
  /*filter: brightness(0.9);*/
}

.card-piles--expeditions__enemy {
  grid-template-rows: 1rem 1fr;
}

.card-piles--expeditions__enemy > .card-piles--pile {
  order: 1;
}



.card-piles--discards > div {
  width: calc(300px  * var(--card-scale) + 2px);
  height: calc(200px * var(--card-scale) + 2px);
  border: 1px solid var(--basic-white);
  border-radius: 3px;
  /*filter: brightness(0.9);*/
}

@media screen and (min-height: 1035px){
  .card-piles--discards > div {
    width: calc(200px  * var(--card-scale) + 2px);
    height: calc(300px * var(--card-scale) + 2px);
  }
}

.expedition-table {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.pile__yellow {
  background-color: var(--card-yellow);
}
.pile__blue {
  background-color: var(--card-blue);
}
.pile__green {
  background-color: var(--card-green);
}
.pile__white {
  background-color: var(--card-white);
}
.pile__red {
  background-color: var(--card-red);
}


/* Draw Pile */

.draw-pile {
  position: absolute;
  top: 0;
  right: 0;
}